:root {
  --principal-color: #f0f6ff;
  --secondary-color: #e4e9feda;
}

body {
  background-color: var(--principal-color);
}

.article h2 {
  font-size: 1rem;
  color: #2b2e4a;
}

.article {
  min-height: 714px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 1rem;
  margin-top: 0;
}

.article p {
  font-size: 0.95rem;
}
