.connexion {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 844px;
  background-color: #f0f6ff;
  position: fixed;
  gap: 20px;
  left: 50%;

  top: 50%;

  transform: translate(-50%, -50%);
}

.inscription {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 844px;
  background-color: #f0f6ff;
  position: fixed;

  left: 50%;

  top: 50%;

  transform: translate(-50%, -50%);

  /* -webkit-transform: translate(-50%, -50%); */
}

.inscription a {
  color: #2b2e4a;
}

.connexion a {
  color: #2b2e4a;
}

.btn-insc {
  padding-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  height: 844px;
  gap: 20px;
}

form h2 {
  width: 220px;
  font-family: sans-serif;
  color: #2b2e4a;
  text-align: center;
  font-size: 25px;
}

.box-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.button_connexion input {
  background: #e4e9feda;
  color: #2b2e4a;
  font-size: 22px;
  border: none;
  padding: 7px 13px;
  border-radius: 30px;
  border: 1px solid#2b2e4a;
  margin-top: 20px;
  margin-bottom: 10px;
}

form input {
  background: transparent;
  border-bottom: 0.5px solid;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #2b2e4a;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: sans-serif;
  margin-top: 30px;
}

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: auto;
}

#pass {
  margin-top: 50px;
}

.my_icons p {
  color: #2b2e4a;
  text-align: center;
  text-decoration: none;
}

.my_icons a {
  text-decoration: none;
}
.box_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.box_icon i {
  color: #2b2e4a;
  gap: 5px;
}

::placeholder {
  color: black;
  font-family: Arial;
  text-align: center;
  opacity: 30%;
}

.my_icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  font-size: 25px;
}
