:root {
  --principal-color: #f0f6ff;
  --secondary-color: #e4e9feda;
}

body {
  background-color: var(--principal-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 844px;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 64px;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;

  border-color: #0b0f2e42;
}

@media screen and (min-width: 1000px) {
}

.websitelogo {
  width: 120px;
  margin-top: 5px;
}

footer {
  height: 10vh;
  border-top-style: solid;
  border-top-width: 0.5px;
  border-radius: 70px;
  border-color: #0b0f2e42;
  min-width: 390px;
  max-height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1000px) {
  footer {
    border-top-style: solid;
    border-top-width: 0.5px;
    border-radius: 70px;
    border-color: #0b0f2e42;
    min-width: 4rem;
    min-height: 85opx;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
}

.navbar {
  align-items: center;
  max-width: 390px;
}

@media screen and (min-width: 1000px) {
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    max-width: 390px;
  }
}

.navbar ul {
  margin: 1rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 390px;
  max-height: 40vh;
}

.container ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 3rem;
  max-width: 390px;
}

.container ul a {
  text-decoration: none;
  color: black;
}

#container .navbar ul li a ion-icon {
  width: 30px;
  height: 30px;

  color: #2b2e4a;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardcontainer {
  background-color: var(--principal-color);
  height: 85vh;
  width: 40vh;
  overflow: auto;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  scroll-snap-align: center;
  border-radius: 20px;
}

@media screen and (min-width: 1000px) {
  .cardcontainer {
    background-color: var(--principal-color);
    height: 85vh;
    width: 90vh;
    overflow: auto;
    gap: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    scroll-snap-align: center;
    border-radius: 20px;
    border-style: ridge;
  }
}

.container div {
  display: flex;
  flex-direction: column;
}

.cardcontainer::-webkit-scrollbar {
  display: none;
}

.card {
  min-height: 61vh;
  min-width: 35vh;
  background-color: var(--secondary-color);
  scroll-snap-align: center;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e4e9fe;
  border-radius: 20px;
}

@media screen and (min-width: 1000px) {
  .card {
    min-height: 61vh;
    min-width: 47vh;
    background-color: var(--secondary-color);
    scroll-snap-align: center;
    scroll-snap-stop: always;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e4e9fe;
    border-radius: 20px;
  }
}

.card img {
  width: 330px;
}
