:root {
  --principal-color: #f0f6ff;
  --secondary-color: #e4e9feda;
}

body {
  background-color: var(--principal-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 844px;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 64px;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  padding-left: 125px;
  border-color: #0b0f2e42;
}

@media screen and (min-width: 1400px) {
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 64px;
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    padding-left: 600px;
    border-color: #0b0f2e42;
  }
}
header li {
  list-style: none;
  height: 30px;
  width: 30px;
  font-size: 33px;
  padding-left: 15px;
}

header ul li a .ion-icon {
  height: 30px;
  width: 30px;
  margin-top: 10px;
  color: #2b2e4a;
}

.websitelogo {
  width: 120px;
  margin-top: 5px;
}
.bookmark {
  color: #2b2e4a;
}

@media screen and (min-width: 1400px) {
  .bookmark:hover {
    color: #2b2e4a;
    background: #93a7eea3;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

footer {
  height: 10vh;
  border-top-style: solid;
  border-top-width: 0.5px;
  border-radius: 70px;
  border-color: #0b0f2e42;
  padding: 1rem;
  max-height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

footer ul a {
  text-decoration: none;
  color: #2b2e4a;
}

@media screen and (min-width: 1000px) {
  .footer-1 {
    border-right-style: solid;
    border-right-width: 1px;
    border-radius: 70px;
    border-color: #0b0f2e42;
    width: 5vw;
    min-height: 50vw;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.card.grey {
  opacity: 0.4;
  transition: opacity 0.5s ease;
}

.ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
  gap: 50px;
}

@media screen and (min-width: 1000px) {
  .ul {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
}

.navbar {
  align-items: center;
  max-width: 390px;
}

@media screen and (min-width: 1000px) {
  footer ul a {
    height: 60px;
  }
}

@media screen and (min-width: 1000px) {
  .all {
    display: flex;
    flex-direction: row-reverse;
  }
}

.navbar ul {
  margin: 1rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 390px;
  max-height: 40vh;
}

.container ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 3rem;
  max-width: 390px;
}

.container ul a {
  text-decoration: none;
  color: black;
}

footer ul li a ion-icon {
  width: 30px;
  height: 30px;

  color: #2b2e4a;
}

@media screen and (min-width: 1000px) {
  footer ul li a ion-icon:hover {
    background: #93a7eea3;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    transform: rotate(720deg);
    color: #2b2e4a;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1000px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 94vw;
  }
}

.cardcontainer {
  background-color: var(--principal-color);
  height: 85vh;
  width: 40vh;
  overflow: auto;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  scroll-snap-align: center;
  border-radius: 20px;
}

@media screen and (min-width: 1000px) {
  .cardcontainer {
    background-color: var(--principal-color);
    height: 85vh;
    width: 120vh;
    overflow: auto;
    gap: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    scroll-snap-align: center;
    border-radius: 20px;
    border-style: solid;
    border-color: #e4e9fe08;
    border-width: 20px;
  }
}

.container div {
  display: flex;
  flex-direction: column;
}

.cardcontainer::-webkit-scrollbar {
  display: none;
}

.card {
  min-height: 61vh;
  min-width: 35vh;
  background-color: var(--secondary-color);
  scroll-snap-align: center;
  scroll-snap-stop: always;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e4e9fe;
  border-radius: 20px;
}

@media screen and (min-width: 1000px) {
  .card {
    min-height: 61vh;
    min-width: 47vh;
    background-color: var(--secondary-color);
    scroll-snap-align: center;
    scroll-snap-stop: always;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e4e9fe;
    border-radius: 20px;
  }
}

.card img {
  width: 230px;
}

@media screen and (min-width: 1000px) {
  .card img {
    width: 330px;
  }
}
