:root {
  --principal-color: #f0f6ff;
  --secondary-color: #e4e9feda;
}

body {
  background-color: var(--principal-color);
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100px;
}

.websitelogo {
  height: 100px;
}

footer {
  height: 10vh;
  border-top-style: solid;
  border-top-width: 0.5px;
  border-radius: 70px;
  border-color: #0b0f2e42;
  min-width: 390px;
  max-height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  align-items: center;
  max-width: 390px;
}

.navbar ul {
  margin: 1rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 390px;
  max-height: 40vh;
}

.container ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 3rem;
  max-width: 390px;
}

.container ul a {
  text-decoration: none;
  color: black;
}

#container .navbar ul li a ion-icon {
  width: 30px;
  height: 30px;

  color: #2b2e4a;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 844px;
}

.cardcontainer {
  background-color: var(--principal-color);
  height: 80vh;
  width: 40vh;
  display: flex;
  overflow: auto;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
  scroll-snap-align: center;
  border-radius: 20px;
}

.container div {
  display: flex;
  flex-direction: column;
}

.cardcontainer::-webkit-scrollbar {
  display: none;
}

.card {
  min-height: 61vh;
  min-width: 35vh;
  background-color: var(--secondary-color);
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e4e9fe;
  border-radius: 20px;
}

.card img {
  width: 230px;
}
